
.logo{
  color : white;
  font-size :35px ;
  letter-spacing: 1px;
  cursor: pointer;
}

header {
  background-color: rgb(10, 10, 10);
  padding: 20px;
  text-align: center;
}
  

 
nav  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}
nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a:hover{
color: #f9004d;
transition: .4s;
}
nav a {
  color: white;
  text-decoration: none;
}

span{
  color:#f9004d ;
}

.btn{
  background-color: #f9004d;
  color: beige;
  text-decoration: none;
  font-weight: bold;
  border : 2px solid transparent;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform .4s;
}
.btn:hover{
  transform: scale(1.2);
}
  
  body {
    font-family: Verdana, sans-serif;
    background-color: #ffffff;
      
  }
/* Split the screen in half */
.split {
    height: 60%;
    width: 50%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: white;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: white;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }


  .centered-elements1R {
    position: absolute;
    left: 37%;
    top: 27%;
    line-height:1px;

    transform: translate(-5%, -5%);
  }
  .centered-elements1L {
    position: absolute;
    left: 37%;
    top: 23%;

    transform: translate(-5%, -5%);
  }

  .centered-elements2R {
    position: absolute;
    left: 37%;
    top: 570px;
    line-height:0px;
    transform: translate(-5%, -5%);
  }
  
  .centered-elements2L {
    position: absolute;
    left: 37%;
    top: 270px;
    transform: translate(-5%, -5%);
  }

  .centered-elements3R {
    position: absolute;
    left: 37%;
    top: 1020px;
    line-height:0px;

    transform: translate(-5%, -5%);
  }

  .centered-elements3L {
    position: absolute;
    left: 37%;
    top: 450px;

    transform: translate(-5%, -5%);
  }

  .centered-elements4R {
    position: absolute;
    left: 37%;
    top: 1450px;
    line-height:0px;

    transform: translate(-5%, -5%);
  }
  .centered-elements4L {
    position: absolute;
    left: 37%;
    top: 1000px;
    line-height:0px;

    transform: translate(-5%, -5%);
  }


  .centered-elements5R {
    position: absolute;
    left: 37%;
    top: 1930px;
    line-height:0px;

    transform: translate(-5%, -5%);
  }

  .centered-elements5L {
    position: absolute;
    left: 37%;
    top: 1500px;
    line-height:0px;

    transform: translate(-5%, -5%);
  }


  .links{
	color: black;
	padding: 0;
}

 .links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}


 a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: black;
    display: inline-block;
    padding-right: 5px;
  }
  
   .link-1:before {
    content: none;
  }


  
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: inline;



  }
  
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from { opacity: .4 }
    to { opacity: 1 }
  }
  
  @keyframes fade {
    from { opacity: .4 }
    to { opacity: 1 }
  }




  #toggleButton {
    background-color: white;
    color: black ;
    padding: 3px 10px;
    border:  dotted black;
    cursor: pointer;
    width: 100%;
  }
  


  * {box-sizing: border-box;}
  .mySlidesn {display: none;}
  img {vertical-align: middle;}
  
  .slideshow-containern {
    max-width: 1000px;
    max-height:1000px;
    position: relative;
    margin: auto;
  
  }
  
  
  .text {
    color:rgb(12, 11, 11);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-top : 0px;
  
  }
  
  
  .numbertext {
    color: rgb(240, 197, 7);
    font-size: 12px;
    padding: 8px 12px;
    position: relative;
    top: 0;
    left : 5%;
  }
  
  
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    margin-right : 900px;
    margin-top : 0px;
  
    background-color: rgb(10, 221, 21);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position : relative;
    left :25%;
  }
  
  .active {
    background-color: #f39201;
  }
  
  
  .faden {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes faden {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  /* Sur les petits écrans, diminuez la taille du texte */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  